version: "3.8"
services:
  backend:
    build: .
    image: zakaryab2003/inpt-plateform
    ports:
      - "5000:5000"
    depends_on:
      - mongo
    env_file:
      - .env

  mongo:
    image: mongo
    ports:
      - "27017:27017"
    volumes:
      - mongo_data:/data/db

  

volumes:
  mongo_data:
